body {
    background-color: #6d4892;
    color:  #c0c0c0;
    height: 100vh;
}

.flex-container-perfect-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    /* height: 100%;  */
    /* background-color: dodgerblue; */
}

#puppy {
    width: 33%;
    height: 33%;
}
