.grid-container {
    display: grid;

    width: 100%;

    row-gap: 0.6rem;
    column-gap: 0.6rem;

    grid-template-areas:
        'header header header header header header header header header'
        'menu main main main main main right right right'
        'footer footer footer footer footer footer footer footer footer';

    background-color: #6d4892;
    /* #6d4892 or purple */
    border-color: rgb(207, 217, 227);
    /* rgb(207, 217, 227) or silver */
    border-style: solid;
    border-width: 0.4rem;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);

    border-color: red;
    border-style: solid;
    border-width: 0.3rem;

    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
}

.grid-left-col {
    margin-left: 0.6rem;
}

.grid-right-col {
    margin-right: 0.6rem;
}

.grid-top-col {
    margin-top: 0.6rem;
}

.grid-bottom-col {
    margin-bottom: 0.6rem;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

a {
    color: white;
}
